# directories to ignore
**cooked
**dist
**Linux-Complete-Backup-and-Recovery-HOWTO.junk
**scripts
**smooth
Linux-Complete-Backup-and-Recovery-HOWTO

*.aux
*.bz2
*.dvi
*.log
*.out
*.pdf
*.ps
*.rtf
*.tex
*.txt
*~
TAGS
